.addstatement {
	width: 100%;
	display: inline-block;
    font-weight: bold;
}

.addstatement a {
    font-weight: normal;
    color: darkblue;
}

.disabled {
	filter: grayscale(0.3) opacity(.7);
}

fieldset#quickpresets {
	width: 100%;
	position: relative;
}
#quickpresets legend {
	color:blue;font-weight:bold;
}

.quickpresetsinput {
	float: right;
}

.compact {
	display: inline-block;
}

.qpconfiglink {
    position: absolute;
    right: -0.5ex;
    background: #fff;
    font-size: 150%;
}
